<h1>Completed To-Do Items</h1>

<table>
    <tr>
        <th>To-do Item</th>
        <th>Due Date</th>
    </tr>
    
    <% @items.each do |i| %>
        <tr>
            <td><%= i.name %></td>
            <td><%= i.date %></td>
            <td><%= link_to 'Show', item_path(i) %></td>
        </tr>
    <% end %>
    
</table>

<%= link_to 'Back to List', items_path %>