<p>
    Item:<%= @item.name %>
</p>

<p>
    Date:<%= @item.date %>
</p>

<p>
    <% if @item.done %>
      <p> Done: true </p>
    <% else %>
       <p> Done: false </p>
    <% end %>
    
</p>

<%= link_to 'Back to List', items_path %>
<%= link_to 'Edit', edit_item_path(@item.id) %>